#allListings {
    display: flex;
    flex-wrap: wrap;
}

#allListings>h1 {
    font-size: 53px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: rgba(249, 249, 250, 0.85);
}

.noDataListing {
    width: 100%;
    height: 280px;
    margin-top: 50px;
    text-align: center;
    background-color: white;
    padding: 50px;
}

.noDataListing>.noOffer {
    font-size: 44px;
    padding-top: 55px;
    font-style: italic;
}
